@keyframes wobble {
  0% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}

html {
  color: #fff;
  height: 100%;
}

body {
  background-color: #000;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 75%;
}

.bg-video {
  height: auto;
  left: 50%;
  opacity: 0.4;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;
}

.title {
  margin: 0;
}

.contestants {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.contestant {
  bottom: 0;
  position: absolute;
  transition: top 1s;
}

#evan {
  left: 0;
}

#mike {
  right: 0;
}

#evan:after,
#mike:before {
  bottom: 0;
  box-shadow: 0 0 20px white;
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 227px; /* half height */
  width: 75px;
}

#evan:after {
  background: linear-gradient(red, yellow);
  margin-right: -100px;
  right: 0;
}

#mike:before {
  background: linear-gradient(blue, pink);
  margin-left: -100px;
  left: 0;
}

#evan.winning:after {
  box-shadow: 0 0 100px yellow;
}

#mike.winning:before {
  box-shadow: 0 0 100px pink;
}

.contestant img {
  height: 400px;
}

.winning img {
  animation: wobble 0.3s infinite ease-out;
}

.count {
  font-size: 3em;
  font-weight: bold;
}

.count:after {
  content: '%';
}
